#include "secrets.h"

const char WIFI_SSID[]     = "";
const char WIFI_PASSWORD[] = "";
const char key[]           = "";
const char url[]           = "";
const char email[]         = "";
const char password[]      = "";